## name,commandable,tamingTime,fedDuration,consumeRange,consumeSearchInterval,consumeHeal,consumeSearchRange,consumeItems,changeFaction,procretion,maxCreatures,pregnancyChance,pregnancyDuration,growTime

####Any line starting with a # will be skipped from calculating into the tamelist

*Default,false,1400,300,1,10,30,15,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:OnionSoup:Onion,false,true,7,0.66,90,2100,size=1.5
Boar
*Tier_1,true,1500,300,1.4
Deer,offspringName=Fawn
Greyling,consumeItems=SerpentMeatCooked:NeckTailGrilled:CookedMeat:CookedLoxMeat:Bread:Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Honey:Mushroom:MushroomYellow:MushroomBlue:MinceMeatSauce:DeerStew:CookedDeerMeat:BoarJerky:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:OnionSoup:Onion:CookedHareMeat
Neck,consumeItems=SerpentMeat:FishRaw:Bread:Raspberry:Blueberries:Cloudberry:Carrot:Mushroom:MushroomYellow:MushroomBlue:Turnip,egg=drake(1200:#00FF00:0.3)
Bat
#
*Tier_2,true,1600,300,1.4,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,false,true,7,0.66,100,2300
Greydwarf,consumeItems=SerpentMeatCooked:NeckTailGrilled:CookedMeat:CookedLoxMeat:Bread:Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Honey:Mushroom:MushroomYellow:MushroomBlue:MinceMeatSauce:DeerStew:CookedDeerMeat:BoarJerky:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:OnionSoup:Onion:CookedHareMeat
Skeleton,canMateWithSelf=false,group=skeleton
Surtling,consumeItems=Coal:ElderBark
#
*Tier_3,true,1700,300,1.7,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,false,true,7,0.66,110,2600
Blob
Draugr
Skeleton_Poison,group=skeleton
Skeleton_Poison:Skeleton
Ghost
Greydwarf_Shaman,consumeItems=SerpentMeatCooked:NeckTailGrilled:CookedMeat:CookedLoxMeat:Bread:Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Honey:Mushroom:MushroomYellow:MushroomBlue:MinceMeatSauce:DeerStew:CookedDeerMeat:BoarJerky:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:OnionSoup:Onion:CookedHareMeat
Leech,consumeItems=Bloodbag:SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,egg=chicken(1200:#B10000:1.5)
Serpent,true,1800,300,4,10,30,20,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,false,true,4,size=2,egg=chicken(1500:#00B1B1:2)
Wraith
BlobElite,,1800,maxCreatures=6
Greydwarf_Elite,,1800,,,,,,SerpentMeatCooked:NeckTailGrilled:CookedMeat:CookedLoxMeat:Bread:Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Honey:Mushroom:MushroomYellow:MushroomBlue:MinceMeatSauce:DeerStew:CookedDeerMeat:BoarJerky:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:OnionSoup:Onion:CookedHareMeat,false,true,6
#
*Tier_4,true,2000,300,1.6,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,false,true,7,0.66,120,2900
Deathsquito,,,,,,,,Bloodbag:SerpentMeat:RawMeat:NeckTail:FishRaw:DeerMeat:WolfMeat:HareMeat,,,15,,80,400,egg=chicken(800:#D8DF00:0.6)
Draugr_Elite
Abomination,true,2300,300,5,10,30,20,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,true,false,4,0.66,200,4000,size=3
Fenring,offspringName=Fenring_Pup
Goblin,,,500,,,90,15,SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat,true
Hatchling,consumeRange=2,consumeItems=CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat
Lox,true,2000,150,3,10,30,20,Barley:Cloudberry:Flax:Onion,false,true,6,0.66,150,4500,size=2
Troll,,,,3,,,20,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:Sausages:CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:Honey:DeerMeat:WolfMeat:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat,false,false,4,0.66,400,6000,size=2
Wolf
BlobTar,true,2200,maxCreatures=5
#
*Ulvs,true,2200,300,2,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:Sausages:DeerMeat:WolfMeat,false,true,6,0.66,120,3200
Ulv,offspringName=Ulv_Pup
Fenring_Cultist
#
*T2_Goblins,true,2300,500,2,10,90,15,SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat,true,true,5,0.66,300,4000
GoblinBrute,size=1.7
GoblinShaman
GoblinBrute:GoblinShaman
StoneGolem,true,2300,300,2,10,30,20,CopperOre:IronOre:SilverOre:TinOre:Ruby,true,true,6,0.66,400,5000

#
Dverger,true,2200,450,1.4,10,30,15,MushroomOmelette:MisthareSupreme:FishAndBread:HoneyGlazedChicken:MeatPlatter:Salad,false,true,6,0.66,160,3200
*DvergerMages,true,2400,450,1.4,10,30,15,MagicallyStuffedShroom:YggdrasilPorridge:SeekerAspic,false,true,6,0.66,160,3400
DvergerMage
DvergerMageFire
DvergerMageIce
DvergerMageSupport
DvergerAshlands
Dverger:DvergerMage:DvergerMageFire:DvergerMageIce:DvergerMageSupport:DvergerAshlands
#
Seeker,true,2400,250,2.5,10,30,20,Sap:HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:RoyalJelly,false,true,7,0.66,200,1800,egg=drake(1600:#AE00A9:0.6)
SeekerBrute,true,2700,250,3,10,30,20,Sap:HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:RoyalJelly,false,true,5,0.66,200,1800,egg=drake(1800:#7D0079:0.8)
#SeekerBrood,true,1500,300,1.4,10,30,15,Sap:HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:RoyalJelly,false,true,10,0.66,90,2000
Seeker:SeekerBrute
#
Tick,true,2100,150,1.5,10,30,15,BugMeat:CookedBugMeat:HareMeat:CookedHareMeat:Bloodbag:Entrails,false,true,10,0.66,150,1000,egg=chicken(1400:#E38600:3)
Gjall,true,2700,300,4,10,30,20,BugMeat:CookedBugMeat:HareMeat:CookedHareMeat:Bloodbag:Entrails,false,true,4,0.66,200,2400,egg=chicken(3500:#2C0800:6),specificOffspring=Gjall(Tick:95),size=2.2

#
Hare,true,2000,300,1.6,10,30,15,Carrot:Turnip:Mushroom:Cloudberry,false,true,7,0.66,60,2200
Hen,false,1800,600,1,15,30,10,CarrotSeeds:OnionSeeds:TurnipSeeds:BeechSeeds:BirchSeeds:Barley:Dandelion,false,true,10,0.33,60,1800

*Ashlands,true,2700,250,2,10,30,20,SerpentMeatCooked:CookedBugMeat:CookedAsksvinMeat:CookedVoltureMeat,false,true,5,0.66,200,3200
Charred_Twitcher:Charred_Twitcher_Summoned,true
Charred_Melee:Charred_Melee_Fader,true
Charred_Archer:Charred_Archer_Fader,true
Charred_Mage,consumeItems=MorgenHeart:BlackCore
Volture,consumeItems=AsksvinMeat:MorgenHeart:Softtissue:BugMeat,growTime=1800,egg=chicken(1600:#A87F4E:2),offspringName=Volture_Chick
Asksvin,true,consumeItems=Vineberry:Fiddleheadfern:MushroomSmokePuff:MushroomJotunPuffs:Salad:ScorchingMedley:SpicyMarmalade
BlobLava,consumeItems=Tar:Ooze

*AshlandsT2,true,2900,250,2.5,10,30,20,SerpentMeatCooked:AsksvinEgg:PiquantPie:RoastedCrustPie:CookedBoneMawSerpentMeat,false,true,5,0.66,250,3400,size=2
BonemawSerpent,consumeItems=SerpentMeatCooked:AsksvinEgg:PiquantPie:RoastedCrustPie,growTime=2200,egg=asksvin(1900:#C42B2B:1.5)
Morgen:Morgen_NonSleeping,true
FallenValkyrie,growTime=2200,egg=chicken(1900:#F1B5A5:3)

#
###MiniBosses###  (The nochest variants are the ones from raids)
*MiniBosses,size=1.5,requiredWorldKeys=defeated_eikthyr
Skeleton_Hildir:Skeleton_Hildir_nochest,true,2000,300,1.6,10,30,15,CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat,false,true,3,0.66,120,2900
Fenring_Cultist_Hildir:Fenring_Cultist_Hildir_nochest,true,2400,450,1.6,10,30,15,SerpentMeat:RawMeat:NeckTail:FishRaw:Sausages:DeerMeat:WolfMeat,false,true,3,0.66,160,3400
GoblinShaman_Hildir:GoblinShaman_Hildir_nochest,true,2700,500,1.4,10,90,15,SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat,false,true,3,0.66,200,3800
GoblinBruteBros:GoblinBruteBros_nochest,true,2900,500,1.4,10,90,15,SerpentMeatCooked:CookedLoxMeat:BloodPudding:FishWraps:LoxPie:TurnipStew:SerpentStew:BlackSoup:WolfMeatSkewer:WolfJerky:CookedWolfMeat:CookedHareMeat,false,true,3,0.66,200,3800
Charred_Melee_Dyrnwyn,true,3100,500,1.4,10,90,15,MorgenHeart:BlackCore,false,true,3,0.66,200,4000

##Thungr (GoblinBrute_Hildir) is not normally by themself except if spawned in
#GoblinBrute_Hildir

###Bosses### (by default, you need to defeat each boss before you are able to tame that specific boss)

Eikthyr,true,2000,200,5,10,30,30,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Cloudberry:Onion:Honey:Barley:Bread,true,false,4,0.66,150,4000,requiredWorldKeys=defeated_eikthyr
#Eikthyr,-1
*Bosses,size=2.5
gd_king,true,2200,200,5,10,30,30,CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat,true,false,4,0.66,150,4000,requiredWorldKeys=defeated_gdking
#gd_king,-1

Bonemass,true,2500,200,5,10,30,30,SerpentMeat:RawMeat:NeckTail:FishRaw:LoxMeat:DeerMeat:WolfMeat:HareMeat,true,false,4,0.66,150,4000,requiredWorldKeys=defeated_bonemass
#Bonemass,-1

Dragon,true,2500,200,5,10,30,30,RawMeat:LoxMeat:CookedMeat:CookedLoxMeat:Sausages:WolfMeat:WolfJerky:HareMeat:CookedHareMeat,true,false,4,0.66,150,4000,requiredWorldKeys=defeated_dragon
#Dragon,-1

GoblinKing,true,2700,100,5,10,30,30,CookedMeat:CookedLoxMeat:Sausages:NeckTailGrilled:SerpentMeatCooked:FishCooked:Bread:CookedDeerMeat:BoarJerky:WolfJerky:CookedWolfMeat:CookedHareMeat,true,false,4,0.66,200,4000,requiredWorldKeys=defeated_goblinking
#GoblinKing,-1

SeekerQueen,true,2900,200,5,10,30,30,Sap:HareMeat:CookedHareMeat:ChickenMeat:CookedChickenMeat:RoyalJelly,true,false,4,0.66,200,2500,egg=drake(2400:#7D00B0:2),requiredWorldKeys=defeated_queen
#SeekerQueen,-1

Fader,true,3100,100,5,10,30,30,SerpentMeatCooked:CookedBoneMawSerpentMeat,true,false,4,0.66,250,4000,requiredWorldKeys=defeated_fader
#Fader,-1

# ===== Custom: Rideable Bear / Bjorn =====
# Bjorn is the vanilla-style bear prefab used by some bear mods.
# Balanced as a large predator mount candidate: tameable, commandable, breedable, larger interaction radius.
# ===== Custom: Stable rideable Bjorn / Bear =====
# Balanced for private-server mount testing: slower breeding, lower cap, predictable large-creature range.
Bjorn,true,2400,300,3,15,30,20,Honey:FishRaw:RawMeat,false,true,8,0.33,300,6000,size=2
